.css-b62m3t-container {
  text-align: left;
  width: 17em;
}

.css-1s2u09g-control {
  background-color: #f6f6f6 !important;
}
.css-1s2u09g-control:hover {
  background-color: #ededed !important;
}

.css-qc6sy-singleValue,
.css-tlfecz-indicatorContainer {
  color: #454545 !important;
}

.css-1okebmr-indicatorSeparator {
  display: none;
}
